/* Commmon code duplicated from Wifast-Base.
 * - common/css/_importzone.scss
 * IMPORTANT: Changes to this file MUST also be made in Wifast-Base to maintain code consistency
 */

@import './mixins';
@import './palettes';

.import-zone {
  @include clickable();

  display: table;
  height: 313px;
  width: 100%;
  border: dashed 1px $black-alpha-30;
  border-radius: 5px;
  background-color: fade-out($light-gray, 0.5);

  &.loading {
    cursor: default;
  }

  > .loading-container {
    position: absolute;
    width: 54.5px;
    height: 98.5px;
    top: 50%;
    left: 50%;
    margin: -37px 0 0 -27px;

    > .loading {
      height: 100%;
      background-image: url('/static/images/predefined/dashboard-loader.gif');
      background-size: cover;
    }
  }

  > .empty {
    display: table-cell;
    vertical-align: middle;

    > .logo,
    > .error {
      margin: 0 auto;
      height: 67px;
      width: 67px;
      background-size: cover;
    }

    > .logo {
      background-image: url('/static/images/predefined/placeholder@200px.png');
    }

    > .error {
      margin-bottom: 15px;
      background-image: url('/static/images/predefined/upload-error@2x.png');
    }

    > .text {
      padding: 0 40px;
      color: rgba($navy, 0.5);
      font-weight: $bold-font-weight;
      text-align: center;

      em {
        font-style: normal;
        color: $base-active-color;
        text-transform: uppercase;
      }
    }
  }
}

.image-upload-modal {
  .modal-container {
    width: 400px;
    height: 458px;
    padding: 20px 31px 34px;

    .line {
      margin: 20px -31px 24px;
      border-top: solid 1px $light-gray;
    }
  }
}
